In [1]:
x = 5
print(x)

5

In [4]:
list = ['a', 'b', 'c', 'd', 'e']
print(list[10:])

[]

In [2]:
a = 6
print(a)

6

In [7]:
class C:
    dangerous = 2
c1 = C()
c2 = C()
print(c1.dangerous)
c1.dangerous = 3
print(c1.dangerous)
print(c2.dangerous)
del c1.dangerous
print(c1.dangerous)
C.dangerous = 3
print(c2.dangerous)

2
3
2
2
3

In [3]:
y = 3
print(y)

3

In [4]:
x = "herllow world"
print(x)

herllow world

In [5]:
type(x)

str

In [7]:
a = {"helo"}
print(a)

{'helo'}

In [8]:
type(a)

set

In [9]:
a = ["123"]
print(a)

['123']

In [11]:
type(a)

list

In [12]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [13]:
b = "Hello, World!"
print(b[2:5])

llo

In [14]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [15]:
type(a)

str

In [16]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [17]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [18]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [19]:
 a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [20]:
a = "2"
b = "5"
c = a + b
print(c)

25

In [21]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [22]:
a = "25"
b = "31"
c = a + " " + b
print(c)

25 31

In [1]:
age = 36
txt = "My name is John, I am " 
print(txt)

My name is John, I am

In [10]:
txt = "my name is floera,I am"
age = "23"
star = txt + " " + age
print(star)

my name is floera,I am 23

In [26]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [12]:
txt = "We are the so-called "
Vikings" from the north."
print(txt,Vikings)

SyntaxError: invalid syntax (2213474885.py, line 2)

In [29]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [30]:
 a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [31]:
print(10 + 5)

15

In [32]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [33]:
type(thislist)

list

In [35]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [36]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [61]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [38]:
 thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [39]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [40]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [41]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [42]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [43]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [44]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [45]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [46]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [47]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [49]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

In [50]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

In [51]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [52]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [53]:
x = lambda a : a + 10
print(x(5))

15

In [54]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [55]:
myorder = "I have a {carname}, it is a {model}."
print(myorder.format(carname = "Ford", model = "Mustang"))

I have a Ford, it is a Mustang.

In [56]:
try:
  print(x)
except:
  print("An exception occurred")

<function <lambda> at 0x7f47f206c820>

In [57]:
import camelcase

c = camelcase.CamelCase()

txt = "hello world"

print(c.hump(txt))

ModuleNotFoundError: No module named 'camelcase'

In [58]:
import datetime

x = datetime.datetime.now()

print(x.year)
print(x.strftime("%A"))

2022
Monday

In [62]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [67]:
a = 50
while a < 20:
    print(a)
    a += 2
else:
        print("a is no greater than 20")

a is no greater than 20

In [68]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [69]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "cherry":
    break

apple
banana
cherry

In [70]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "apple":
    break

apple

In [71]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [72]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [74]:

():
  print("placid digital")

company_name()

placid digital

In [75]:
cars = ["Ford", "Volvo", "BMW"]

In [76]:
print(cars)

['Ford', 'Volvo', 'BMW']

In [3]:
aTuple = (123, 'xyz', 'zara', 'abc')
aList = list(aTuple)
print ("List elements : ", aList)

List elements :  [123, 'xyz', 'zara', 'abc']

In [4]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [5]:
a = (1,2,3,"apple")
b = list(a)
b[2]="banana"
a = tuple(b)
print(a)

(1, 2, 'banana', 'apple')

In [7]:
tup = (12,52,45,78,88)
list1 = list(tup)
list1.remove(78)
tup = tuple(list1)
print(tup)

(12, 52, 45, 88)

In [8]:
a = {1:2,2:3,3:4,4:5}
print(sorted(a.values()))

[2, 3, 4, 5]

In [9]:
a = {1:2 ,2:1 ,4:3 ,3:4 ,6:5 ,5:6 }
print(sorted(a.values(),reverse=True))

[6, 5, 4, 3, 2, 1]

In [11]:
my_string = "{} is a good option for beginners in python"
print(my_string.format("Edureka"))

Edureka is a good option for beginners in python

In [1]:
a = ("this is my stringh of the worls in this wa")

In [16]:
s = [1,2,3,4]
d = [2,10,25,40]
final = [i+j for i in s for j in d]
print(final)

[3, 11, 26, 41, 4, 12, 27, 42, 5, 13, 28, 43, 6, 14, 29, 44]

In [14]:
x=[]
for i in range(len(s)):
    x.append(s[i]+d[i])

In [15]:
x

[3, 12, 28, 44]