In [1]:
print("hellow world")

hellow world

In [2]:
a = 10
print(a)

10

In [3]:
type(a)

int

In [4]:
b = 10.1
print(b)

10.1

In [5]:
type(b)

float

In [6]:
a = ("hellow")
print(a)

hellow

In [7]:
type(a)

str

In [8]:
a=5
print(a)

5

In [9]:
a= """Lorem ipsum dolor sit amet,
consectetor edipicing elit,
sed do eiusmod tempor incididunt,
ut labore et dolore magna alique,"""
print(a)

Lorem ipsum dolor sit amet,
consectetor edipicing elit,
sed do eiusmod tempor incididunt,
ut labore et dolore magna alique,

In [10]:
type(a)

str

In [1]:
txt = "hellow and welcome to my world"
x =txt.casefold()
print(x)

hellow and welcome to my world

In [30]:
txt = "apple,there are a couple of apples"
x = txt.endswith("of apples", 5 , 10)
print(x)

False

In [34]:
txt = "s\to\tn\ty"
x = txt.expandtabs(5)
print(x)

s    o    n    y

In [39]:
txt = "Hello, welcome to my world."

x = txt.find("to")

print(x)

15

In [40]:
txt = "Hello, welcome to my world."

x = txt.upper()

print(x)

HELLO, WELCOME TO MY WORLD.

In [41]:
txt= "the binary version of {0} is {0:b}"
print(txt.format(4))

the binary version of 4 is 100

In [1]:
x=10
y=2
print(x/y)

5.0

In [2]:
a=9
b=2
print(a/b)

4.5

In [3]:
x=3
y=4
print(x**y)

81

In [4]:
p=5
q=3
print(p%q)

2

In [5]:
r=6
r+=3
print(r)

9

In [6]:
p=8
p/=2
print(p)

4.0

In [7]:
r=5
t=6
print(r==t)

False

In [8]:
r=8
print(r>4 and r<10)

True

In [9]:
f=5
print(f>3 or f<3)

True

In [12]:
r=5
t=5
s=r
print(r is s)
print(r is t)
print(r==t)
print(r!=t)
print(s is r)

True
True
True
False
True

In [13]:
x=[5,3]
print(5 in x)
print(4 not in x)

True
True

# List

In [16]:
list1 = ["apple",12,1.3,True]
print(len(list1))

4

In [15]:
type(list1)

list

In [17]:
list1 = [12,23,45,8]
list2 = [2,5,4,7,8]
list3 = list1+list2
print(list3)

[12, 23, 45, 8, 2, 5, 4, 7, 8]

In [22]:
list1 = [12,23,45,8]
print(list1[3])

8

In [23]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:3])

['cherry']

In [26]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:3])
print(thislist[2:5])
print(thislist[2:])

['apple', 'banana', 'cherry']
['cherry', 'orange', 'kiwi']
['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [33]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
if "apple" in thislist:
    print("yes , apple in this list")
else:
    print("Not in this list")

yes , apple in this list

In [34]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
thislist[1]= "sony"
print(thislist)

['apple', 'sony', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [36]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
thislist[1:3]=["omega","patrto"]
print(thislist)

['apple', 'omega', 'patrto', 'orange', 'kiwi', 'melon', 'mango']

In [37]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [39]:
thislist = ["apple", "banana", "cherry"]
thislist.append("guava")
print(thislist)

['apple', 'banana', 'cherry', 'guava']

In [40]:
thislist = ["apple", "banana", "cherry"]
list2 = ["tomato","potato"]
thislist.extend(list2)
print(thislist)

['apple', 'banana', 'cherry', 'tomato', 'potato']

# tuple

In [2]:
u= ("nokia", "vivo", "oppo")
print(u)
print(len(u))
print(type(u))

('nokia', 'vivo', 'oppo')
3
<class 'tuple'>

In [3]:
m= ("vivo", "oppo", "mi", "nokia", "samsung")
print(m[1:])
print(m[:4])
print(m[0:3])
print(m[-4:-1])

('oppo', 'mi', 'nokia', 'samsung')
('vivo', 'oppo', 'mi', 'nokia')
('vivo', 'oppo', 'mi')
('oppo', 'mi', 'nokia')

In [4]:
f=(1, 2, 3, 4, 5)
j=list(f)
j[0]= "a"
f=tuple(j)
print(f)

('a', 2, 3, 4, 5)

In [7]:
j= (1, 2, 3, 4, 5, 6)
(a, b, *c)= j
print(a)
print(b)
print(c)

1
2
[3, 4, 5, 6]

In [12]:
l= (1, 2, 3, 4, 5)
for x in l:
   print(x)

1
2
3
4
5

In [13]:
tuple= (1, 2, 3, 4, 5)
l= (6, 7, 8,)
result= tuple + l
print(result)
x= 3*l
print(x)

(1, 2, 3, 4, 5, 6, 7, 8)
(6, 7, 8, 6, 7, 8, 6, 7, 8)

set

In [18]:
y={"unordered", "unchangable", "no duplicate"}
print(y)

{'unordered', 'unchangable', 'no duplicate'}

In [19]:
p= {1, 2, 3, 4, 5, 6}
o= [6, 7, 8]
p.update(o)
print(p)

{1, 2, 3, 4, 5, 6, 7, 8}

In [20]:
o= {1, 2, 3, 4, 5}
o.remove(2)
print(o)

{1, 3, 4, 5}

In [8]:
a=[3,4,5,7,6]
b=a[::-1]
print(b)

[6, 7, 5, 4, 3]