In [1]:
def get_squre_numbers(numbers):
    squre_numbers = []
    for n in numbers:
        squre_numbers.append(n*n)
        return squre_numbers

In [3]:
numbers = [5]
get_squre_numbers(numbers)

[25]

 Find the largest number among three numbers

In [11]:
f = open("star.txt","w")
f.write("hello this is a file hendling")
f.close()

In [12]:
f= open("star.txt","r")
print(f.read())

hello this is a file hendling

In [21]:
f = open("star.txt", "a")
f.write("this is a new line add")
f.close()

In [22]:
f = open("star.txt","r")
print(f.read())

hello i am a python
hello i am a javascript
hello i am a c++
hello i am a html
this is a new line add/nthis is a new line add

In [23]:
f = open("star.txt","w")
f.write("hello i am a python\n")
f.write("hello i am a javascript\n")
f.write("hello i am a c++\n")
f.write("hello i am a html\n")

f.close()

In [24]:
f = open("star.csv", "w")
f.write("120")
f.close()

In [26]:
f = open("star.csv","r")
print(f.read())

120,1200000

In [1]:
s = open("index.txt","w")

In [2]:
s = open("index.txt","w")
s.write("this is my python file")
s.close()

In [3]:
s = open("index.txt", "r")
s.read()

'this is my python file'

In [4]:
aman = open("index2.csv","w")
aman.write("120000")
aman.close()

In [6]:
import os

In [7]:
os.remove("index2.csv")

In [4]:
a = [20,30,40,50,60,70,80,90,100]
a.remove(100)
for x in a:
    print(x)

20
30
40
50
60
70
80
90

In [5]:
a.remove(40)
print(x)

90

In [6]:
from array import *

In [7]:
array1 = array('i', [10,20,30,40,50])

print (array1.index(40))

3

In [8]:
list1 = ['physics', 'chemistry', 1997, 2000]
list2 = [1, 2, 3, 4, 5 ]
list3 = ["a", "b", "c", "d"]

In [14]:
print ("list1[0]:" ,(list1[0]))

list1[0]: physics

In [15]:
print(list2[1:5],)

[2, 3, 4, 5]

In [7]:
class x:
    def __init__(self,val):
        self.val = val
        
    def getindex(li,target):
        for index,x in enumerate(li):
            if x.val == target:
                return index
            return -1

In [8]:
li = [1,2,3,4,5,6,7,8]

In [9]:
a = list()
for i in li:
    a.append(x(i))

In [11]:
first = [1,2,3,4]
secand = [2,10,25,40]
final = []

for i in first:
    for j in secand:
        final.append(i+j)
print(final)

[3, 11, 26, 41, 4, 12, 27, 42, 5, 13, 28, 43, 6, 14, 29, 44]

In [12]:
a = [1,2,3,4,5,6]
b = [2,45,85,78,9]
c = a+b
print(c)

[1, 2, 3, 4, 5, 6, 2, 45, 85, 78, 9]

In [14]:
s = [1,2,3,4]
d = [2,10,25,40]
final = [i+j for i in s for j in d]
print(final)

[3, 11, 26, 41, 4, 12, 27, 42, 5, 13, 28, 43, 6, 14, 29, 44]

In [16]:
f1 = ["anamika", "mutul", "gita"]
f2 = []
for i in f1:
    if "a" in i:
        f2.append(x)
print(f2)

[<class '__main__.x'>, <class '__main__.x'>]

In [20]:
class person:
    def __init__(self):
        pass
    
    def getage(self):
        print (__name__)

In [21]:
p = person()

In [22]:

daysOfWeek = ['Monday',
              'Tuesday',
              'Wednesday',
              'Thursday',
              'Friday',
              'Saturday',
              'Sunday']



months =             ['Jan', \
                      'Feb', \
                      'Mar', \
                      'Apr', \
                      'May', \
                      'Jun', \
                      'Jul', \
                      'Aug', \
                      'Sep', \
                      'Oct', \
                      'Nov', \
                      'Dec']

In [27]:
print ("DAYS: %s, MONTHS %s" )

DAYS: %s, MONTHS %s

In [28]:
names1 = ['Amir', 'Barry', 'Chales', 'Dao']

In [30]:
x = True
y = False
z = False

In [33]:
if not x or y:
    print (1)
elif not x or not y and z:
    print (2)
elif not x or y or not y and x:
    print (3)
else:
    print (4)

3

In [34]:
class NumFactory:
    def __init__(self, n):
        self.val = n
    def timesTwo(self):
        self.val *= 2
    def plusTwo(self):
        self.val += 2

In [35]:
f = NumFactory(2)

In [38]:
for m in dir(f):
    mthd = getattr(f,m)
    if callable(mthd):
        mthd
    print(f.val)

2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2

In [39]:
import re
sum = 0

In [40]:
pattern = 'back'

In [41]:
if re.match(pattern, 'backup.txt'):
    sum += 1
if re.match(pattern, 'text.back'):
    sum += 2
if re.search(pattern, 'backup.txt'):
    sum += 4
if re.search(pattern, 'text.back'):
    sum += 8

In [42]:
print (sum)

13

In [43]:
names1 = ['Amir', 'Barry', 'Chales', 'Dao']

In [44]:
names2 = [name.lower() for name in names1]

In [46]:
print (names2[2][0])

c

In [1]:
LIST1 = ["ankita","anamika","mohan","kkk" ]
list2 = []
for x in LIST1:
    if  "a" in x:
        list2.append(x)
print(list2)

['ankita', 'anamika', 'mohan']

In [51]:
LIST1 = ["ankita","anamika","mohan","kkka" ]
list2 = [x for x in LIST1 if "a" in x]
print(list2)

['ankita', 'anamika', 'mohan', 'kkka']

In [52]:
my_list = [y for y in range(100) if y %2 == 0 if y %5 ==0]
print(my_list)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [56]:
obj = ["even" if i%2 else"odd" for i in range(10)]
print(obj)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [58]:
# Transposed
transposed = []
metrix = [[1,2,3,4],[5,6,7,8]]

for i in range(len(metrix[0])):
    transposed_row = []
    
    for row in metrix:
        transposed_row.append(row[i])
     
    transposed.append(transposed_row)
    
print(transposed)

[[1, 5], [2, 6], [3, 7], [4, 8]]

In [63]:
metrix = [1,2],[3,4],[5,6],[7,8]
transposedd = [[row[i] for row in metrix]for i in range(2)] #one line of code
print(transposedd)

[[1, 3, 5, 7], [2, 4, 6, 8]]

In [64]:
my_list = [-15, -26, 15, 1, 23, -64, 23, 76]
new_list = []

while my_list:
    min = my_list[0]  
    for x in my_list: 
        if x < min:
            min = x
    new_list.append(min)
    my_list.remove(min)    

print(new_list)

[-64, -26, -15, 1, 15, 23, 23, 76]

In [67]:
my_list = [-15, -26, 15, 1, 23, -64, 23, 76]
my_list.sort()
print(my_list)

[-64, -26, -15, 1, 15, 23, 23, 76]

In [71]:
data_list = [-5, -23, 5, 0, 23, -6, 23, 67]
new_list = []

while data_list:
    minimum = data_list[0]  # arbitrary number in list 
    for x in data_list: 
        if x < minimum:
            minimum = x
    new_list.append(minimum)
    data_list.remove(minimum)    

print (new_list)

[-23, -6, -5, 0, 5, 23, 23, 67]

In [10]:
new_dict = dict.fromkeys(range(4),)
print ("New dictionary with empty lists as keys : " + str(new_dict))

New dictionary with empty lists as keys : {0: None, 1: None, 2: None, 3: None}

In [15]:
def find_subarray(arr, n, required):

    for i in range(n):
        sum = arr[i]
        j = i + 1
        while j <= n:
            if sum == required:
                return true
            if sum > required or j == n:
                break
            sum = sum + arr[j]
            j += 1
    return false

In [31]:
arr = [2,9,3,1,2,3,5,7,8,0,2,3,4,5,1,0,7,6,7,9,8,7,6,3,2,1,2,3,5,6,7]
new_arr = []
for i in range (0,len(arr)-1):
    if arr[i+1] - arr[i] == 1:
          new_arr.append(arr[i])
    else:
        new_arr.append(arr[i+1])
print(new_arr)

[9, 3, 1, 2, 3, 5, 7, 8, 0, 2, 3, 4, 5, 1, 1, 7, 7, 7, 9, 9, 8, 7, 3, 3, 2, 2, 3, 5, 6, 7]

In [63]:
# arr = [1,0,1,2,3,7,8,9,6,7,8]
arr = [2,9,3,1,2,3,5,7,8,0,2,3,4,5,1,0,7,6,7,9,8,7,6,3,2,1,2,3,5,6,7]

tamp_arr = []

def add_items(item):
    if item not in tamp_arr:
        tamp_arr.append(item)
        return tamp_arr
    
final_arr = []

for i in range(0,len(arr)-1):
    if arr[i+1] - arr[i] == 1:
        add_items(arr[i])
        add_items(arr[i+1])
    else:
        if tamp_arr:
            final_arr.append(tamp_arr)
            tamp_arr = []

In [64]:
print(final_arr)

[[1, 2, 3], [7, 8], [2, 3, 4, 5], [6, 7], [1, 2, 3]]

In [3]:
arr = [2,9,3,1,2,3,5,7,8,0,2,3,4,5,1,0,7,6,7,9,8,7,6,3,2,1,2,3,5,6,7]

In [6]:
for i in range(0,len(arr)):
    res_arr = []
    if len(arr)==1:
        break
    if arr[0]+1 == arr[1]:
        temp_arr.append(arr[0])
        temp_arr.append(arr[1])
        arr.remove(arr[0])
        for j in range(0,10):
            if len(arr) == 1 or arr[0]+1 ! = arr[1]:
                break
            elif arr[0]+1 ==arr[1]:
                temp_arr.append(arr[1])
                arr.remove(arr[0])
        res_arr.append(temp_arr)         
    else:
        arr.remove(arr[0])

SyntaxError: invalid syntax (3874362977.py, line 10)

In [7]:
print(res_arr)

NameError: name 'res_arr' is not defined

#  Convert radians into degrees

In [9]:
import math
 
# Printing radians equivalents.
print("180 / pi Degrees is equal to Radians : ", end ="")
print (math.radians(180 / math.pi))
 
print("180 Degrees is equal to Radians : ", end ="")
print (math.radians(180))
 
print("1 Degrees is equal to Radians : ", end ="")
print (math.radians(1))

180 / pi Degrees is equal to Radians : 1.0
180 Degrees is equal to Radians : 3.141592653589793
1 Degrees is equal to Radians : 0.017453292519943295

In [17]:
a = ["asc","desc"]
a.sort()
print(a)

['asc', 'desc']

In [22]:

string = input("Enter any string: ")

if string == 'x':

     exit();

else:

     newstr = string;

print("\nRemoving vowels from the given string");

vowels = ('a', 'e', 'i', 'o', 'u');

for x in string.lower():

     if x in vowels:

                newstr = newstr.replace(x,"");

print("New string after successfully removed all the vowels:");

print(newstr);

Enter any string: ana

Removing vowels from the given string
New string after successfully removed all the vowels:
n

In [29]:
l = input("Enter the character: ")

if l.lower() in ('a', 'e', 'i', 'o', 'u'):

      print("Vowel")

elif l.upper() in ('A', 'E', 'I', 'O', 'U'):

      print("Vowel")

else:

      print("Consonant")

Enter the character: a
Vowel

In [31]:
import re

def mask_cc_number(cc_string, digits_to_keep=4, mask_char='*'):
   cc_string_total = sum(map(str.isdigit, cc_string))

   if digits_to_keep >= cc_string_total:
       print("Not enough numbers. Add 10 or more numbers to the credit card number.")

   digits_to_mask = cc_string_total - digits_to_keep
   masked_cc_string = re.sub('\d', mask_char, cc_string, digits_to_mask)

   return masked_cc_string

print(mask_cc_number("4568 5689 5623 2365"))
print(mask_cc_number("4259 9826 4026 9299")) 
print(mask_cc_number("4259 982& 4026 9299"))
print(mask_cc_number("4259 9826 40p6 9299"))

**** **** **** 2365
**** **** **** 9299
**** ***& **** 9299
**** **** **p* 9299

In [ ]:
# Program make a simple calculator

# This function adds two numbers
def add(x, y):
    return x + y

# This function subtracts two numbers
def subtract(x, y):
    return x - y

# This function multiplies two numbers
def multiply(x, y):
    return x * y

# This function divides two numbers
def divide(x, y):
    return x / y


print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

while True:
    # take input from the user
    choice = input("Enter choice(1/2/3/4): ")

    # check if choice is one of the four options
    if choice in ('1', '2', '3', '4'):
        num1 = float(input("Enter first number: "))
        num2 = float(input("Enter second number: "))

        if choice == '1':
            print(num1, "+", num2, "=", add(num1, num2))

        elif choice == '2':
            print(num1, "-", num2, "=", subtract(num1, num2))

        elif choice == '3':
            print(num1, "*", num2, "=", multiply(num1, num2))

        elif choice == '4':
            print(num1, "/", num2, "=", divide(num1, num2))
        
        # check if user wants another calculation
        # break the while loop if answer is no
        next_calculation = input("Let's do next calculation? (yes/no): ")
        if next_calculation == "no":
          break
    else:
        print("Invalid Input")

In [1]:
# input sale amount
amt = int(input("Enter Sale Amount: "))

# checking conditions and calculating discount
if(amt>0):
    if amt<=5000:
       disc = amt*0.05
    elif amt<=15000:
        disc=amt*0.12
    elif amt<=25000:
        disc=0.2 * amt
    else:
         disc=0.3 * amt

    print("Discount : ",disc)
    print("Net Pay  : ",amt-disc)
else:
    print("Invalid Amount")

Enter Sale Amount: 2000
Discount :  100.0
Net Pay  :  1900.0