In [1]:
num = 10
for i in range(1,11):
#     print(num,'x','i','=',num*i)
        print(num*i)

10
20
30
40
50
60
70
80
90
100

In [9]:
num = int(input("Enter the number: "))

# print("Multiplication Table of", num)
for i in range(1, 11):
   print(num,"X",i,"=",num * i)

Enter the number: 10
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

In [1]:
l1 = [1,2,3,4,5]

In [2]:
print(l1)

[1, 2, 3, 4, 5]

In [3]:
type(l1)

list

In [7]:
a = 1,2,3,4,5

In [8]:
print(a)

(1, 2, 3, 4, 5)

In [9]:
type(a)

tuple

In [10]:
a = "hellow world"

In [11]:
print(a)

hellow world

In [12]:
type(a)

str

In [9]:
s1 = {1,1,2,3,4,5}

In [10]:
print(s1)

{1, 2, 3, 4, 5}

In [15]:
type(s1)

set

In [20]:
dec = {"apple":200}

In [21]:
print(dec)

{'apple': 200}

In [22]:
type(dec)

dict

In [23]:
a =10.1

In [24]:
print(a)

10.1

In [25]:
type(a)

float

In [26]:
p = 10

In [27]:
print(p)

10

In [28]:
type(p)

int

In [2]:
list1 = [11,50,40,22,3]
list1.sort()
print(list1)

[3, 11, 22, 40, 50]

In [4]:
list2 = [5,4,3,2,1]
list2.sort()
print(list2)

[1, 2, 3, 4, 5]

In [5]:
list3 = [5,4,3,2,1]
list3.reverse()
print(list3)

[1, 2, 3, 4, 5]

In [15]:
list3 = [5,4,3,2,1]
a =list3  [::-1]
print(a)

[1, 2, 3, 4, 5]

In [7]:
l1 = [1,2,3,4,5,6]
l2 = l1.pop(3)
print(l2)

4

In [8]:
lis = ["banana","orange","apple"]
lis.append("mango")
print(lis)

['banana', 'orange', 'apple', 'mango']

In [18]:
list1 = [14,50,22,145]
list2 = [22,36,55,88,47,85]
# list3 = []
for x in list2:
#     for j in list2:
        list1.append(x)
    
print(list1)

[14, 50, 22, 145, 22, 36, 55, 88, 47, 85]

In [10]:
l1 = [44,85,78,96,45]
l2 = [25,65,89,54]
l3  = l1+l2
print(l3)

[44, 85, 78, 96, 45, 25, 65, 89, 54]

In [11]:
lista = ["a","b","c","d"]
lista.clear()
print(lista)

[]

In [13]:
lists = ["anil","ajit","arun"]
a = lists.count("anil")
print(a)

1

In [15]:
list1 = [1,2,3,4,5,5,5,5,7,7,7,]
li = list1.count(5)
print(li)

4

In [17]:
a = ["apple","bananas","mango"]
b = ["sohan","rohan","mohan"]
a.extend(b)
print(a)

['apple', 'bananas', 'mango', 'sohan', 'rohan', 'mohan']

In [18]:
list = ["apple","bananas","mango"]
a = list.index("apple")
print(a)

0

In [19]:
list1 = ["apple","bananas","mango"]
list1.insert(1,"omprakesh")
print(list1)

['apple', 'omprakesh', 'bananas', 'mango']

In [20]:
list1 = ["apple","banana","mango"]
for i in range(len(list1)):
    print(list1[i])

apple
banana
mango

In [21]:
list1 = ["apple","banana","mango"]
a = len(list1)
print(a)

3

# string

In [2]:
str1 = "hellow, world"
a = str1.capitalize()
print(a)

Hellow, world

In [6]:
a = "THIS IS MY STRING"
x = a.casefold()
print(x)

this is my string

In [7]:
str1 = "string"
str = str1.center(20)
print(str)

       string

In [8]:
str2 = "hellow world"
print(str2[5])

w

In [9]:
for i in "banana":
    print(i)

b
a
n
a
n
a

In [10]:
str1 = "this is my python class"
print(len(str1))

23

In [13]:
str1 = "this is my python class"
print("python" in str1)

True

In [14]:
ass = "this is my best life expriance"
if "best" in ass:
    print("yes, 'best' present")

yes, 'best' present

In [19]:
star = "this is my best life expriance"
if "best" in star:
        print("yes")
else:
    print("no")

yes

In [20]:
str1 = "hellow world"
print(str1.upper())

HELLOW WORLD

In [21]:
str2 = "THIS IS MY FRIST STEP"
print(str2.lower())

this is my frist step

In [23]:
s1 = "THIS IS MY FRIST STEP"
print(s1.split("."))

['THIS IS MY FRIST STEP']

In [24]:
str1 = "hellow"
str2 = "world"
str3 = str1+str2
print(str3)

hellowworld

In [25]:
txt = "hellow welcome my class"
x = txt.find("welcome")
print(x)

7

In [1]:
txt1 = "for only {price:.2f} dollars"
print(txt1.format(price = 49))

for only 49.00 dollars

In [27]:
txt = "welcome to my home"
x = txt.split()
print(x)

['welcome', 'to', 'my', 'home']

# tuple

In [2]:
tuple = ("apple","banana")
print(tuple)

('apple', 'banana')

In [4]:
thistuple = (1,2,3,4,5, 5 , 5,6,7,8,9)
x = thistuple.count(5)
print(x)

3

In [5]:
thistuple = (1,2,3,4,5, 5 , 5,6,7,8,9)
x = thistuple.index(8)
print(x)

9

In [6]:
thistuple = ("banana","apple","kivi","cherry")
print(thistuple[1])

apple

In [8]:
thistuple = ("banana","apple","kivi","cherry")
print(thistuple[2:5])

('kivi', 'cherry')

In [17]:
thistuple = ("banana","apple","kivi","cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('banana', 'apple', 'kivi', 'cherry', 'orange')

# set

In [19]:
thisset = {"apple","banana","banana","orange"}
print(thisset)

{'banana', 'apple', 'orange'}

In [20]:
thisset = {"apple","banana","banana","orange"}
set2 = {1,2,3,4,5,6}
set3 = {True,False,False}
print(set3)

{False, True}

In [22]:
thisset = {"apple","banana","banana","orange"}
print("banana" in thisset)

True

In [23]:
thisset = {"apple","banana","banana","orange"}
thisset.add("mango")
print(thisset)

{'banana', 'apple', 'mango', 'orange'}

In [24]:
thisset = {"apple","banana","banana","orange"}
this = {"popcorn"}
thisset.update(this)
print(thisset)

{'popcorn', 'banana', 'apple', 'orange'}

In [26]:
thisset = {"apple","banana","banana","orange"}
thisset.remove("banana")
print(thisset)

{'apple', 'orange'}

In [27]:
thisset = {"apple","banana","banana","orange"}
thisset.clear()
print(thisset)

set()

In [13]:
thisset = {"apple","banana","banana","orange"}
del thisset
print(thisset)

NameError: name 'thisset' is not defined

In [29]:
set1 =  {"apple","banana","banana","orange"}
set2 = {1,2,3,4,5}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'banana', 4, 5, 'orange', 'apple'}

# oops

In [8]:
class Person:
    def __init__(self, name,age):
        self.name = name
        self.age =age
        
    def myfuncation(self):
        print("name:{}".format(self.name)) 
        print("age:{}".format(self.age))        
        
        
pl = Person("sapna",23)
pl.myfuncation()

name:sapna
age:23

In [7]:
class Employee:
    def __init__(self, name, salary, role):
        self.name = name
        self.salary = salary
        self.role = role
        
        
    def printditals(self):
        return f"The name is {self.name} salary is {self.salary} and role is {self.role}"
  
    
sapna = Employee("sapna",3232,"developer")
kapil = Employee("kapil",255,"salse")
print(sapna.printditals())

The name is sapna salary is 3232 and role is developer

In [3]:
class Person(object):
    def __init__(self,name,idnumber):
        self.name = name
        self.idnumber = idnumber
        
    def display(self):
        print(self.name)
        print(self.idnumber)
    def details(self):
        print("My name is {}".format(self.name))
        print("Idnumber:{}".format(self.idnumber))   
        
class Employee(Person):
    def __init__(self,name,idnumber,salary,post):
        self.salary = salary
        self.post = post
        
        Person.__init__(self,name,idnumber)
        
        
    def details(self):
        print("My name is {}".format(self.name))
        print("Idnumber:{}".format(self.idnumber)) 
        print("Post:{}".format(self.post)) 
        
a = Employee("rahul",123456,20000,"developer") 
a.display()
a.details()

rahul
123456
My name is rahul
Idnumber:123456
Post:developer

# singal inheritance

In [1]:
class Vehicle:
    def __init__(self,milage,cost):
        self.milage = milage
        self.cost = cost
        
    def show_vehicle_detials(self):
        print("Milage of vehicle is", self.milage)
        print("cost of vehicle is", self.cost)   
        print("I am a vehicle")

In [2]:
v1 = Vehicle(40,200000)

In [3]:
v1.show_vehicle_detials()

Milage of vehicle is 40
cost of vehicle is 200000
I am a vehicle

In [4]:
class Car(Vehicle):
    def show_car_detials(self):
        print("I am a car")

In [5]:
c1 = Car(20,500000)

In [7]:
c1.show_car_detials()

I am a car

In [3]:
class Vehicle:
    def __init__(self,milage,cost):
        self.milage = milage
        self.cost = cost
        
    def show_vehicle_detials(self):
        print("Milage of vehicle is", self.milage)
        print("cost of vehicle is", self.cost)   
        print("I am a vehicle")

In [4]:
class Car(Vehicle):
    def __init__(self,milage,cost,tyres,hp):
        super(). __init__(milage,cost)
        self.tyres= tyres
        self.hp = hp
        
    def show_car_detials(self):
        print("Numbers of Tyres in a car", self.tyres)
        print("Horse power in a car", self.hp)   
        print("I am a car")

In [5]:
c1 = Car(600,1200000,4,999)

In [7]:
c1.show_vehicle_detials()

Milage of vehicle is 600
cost of vehicle is 1200000
I am a vehicle

In [8]:
c1.show_car_detials()

Numbers of Tyres in a car 4
Horse power in a car 999
I am a car

# Multipal inheritance

In [14]:
class Prent1:
    def assign_string_one(self,str1):
        self.str1 = str1
        
    def show_string_one(self):
        return self.str1

In [17]:
class Prent2:
    def assign_string_two(self,str2):
        self.str2 = str2
        
    def show_string_two(self):
        return self.str2

In [18]:
class Child(Prent1,Prent2):
    def assign_string_three(self,str3):
        self.str3 = str3
        
    def show_string_three(self):
        return self.str3

In [19]:
my_child = Child()

In [20]:
my_child.assign_string_one("I am a string 1")

In [21]:
my_child.assign_string_two("I am a string 2")

In [22]:
my_child.assign_string_three("I am a string of child")

In [23]:
my_child.show_string_one()

'I am a string 1'

In [24]:
my_child.show_string_two()

'I am a string 1'

In [25]:
my_child.show_string_three()

'I am a string of child'

# multy_levle_inheritance

In [58]:
class Prent:
    def get_name(self,name):
        self.name = name
    def show_name(self):
        return self.name

In [59]:
class child(Prent):
    def get_age(self,age):
        self.age = age
    def show_age(self):
        return self.age

In [60]:
class Grendchild(child):
    def get_gender(self,gender):
        self.gender = gender
    def show_gender(self):
        return self.gender

In [61]:
gc = Grendchild()

In [62]:
gc.get_name("mukesh")

In [63]:
gc.get_age(26)

In [64]:
gc.get_gender("Male")

In [65]:
gc.show_name()

'mukesh'

In [66]:
gc.show_age()

26

In [67]:
gc.show_gender()

'Male'

In [4]:
def remove(duplicate):
    final_list = []
    for num in duplicate:
        if not num in final_list:
            final_list.append(num)
    return final_list        
            
duplicate = [12,12,12,12,12,55]
print(remove(duplicate))

[12, 55]

# File Hendling

In [15]:
f = open('student.txt', mode='w')
f.write('hellow how are you\n')
f.write('i am a developer\n')
f.write('this is a python\n')
print('susses')
f.close()

susses

In [16]:
f= open('student.txt', mode= 'r')
data = f.read()
print('ok')
f.close()

ok

In [17]:
f = open('student.txt', mode='rb')
data = f.read()
print('susses')
f.close()

susses