In [2]:
class Employee:
    def __init__(self, name, selary, role):
        self.name = name
        self.selary = selary
        self.role = role
        
    def Printdetials(self):
        return f"the name is {self.name}. selary is {self.selary}. role is {self.role}"
    
    def Changeleave(pls,newleave):
        pls.no_of_leaves = newleave
        
    def Formdesh(pls,strinr):
        parms = string.split("_")
        return pls(parms[0], parms[1], parms[2])

rohan = Employee("Rohan", 455, "Student")
print(rohan.Printdetials())

the name is Rohan. selary is 455. role is Student

In [1]:
class Employee:

    def __init__(self, aname, asalary, arole):
        self.name = aname
        self.salary = asalary
        self.role = arole

    def printdetails(self):
        return f"The Name is {self.name}. Salary is {self.salary} and role is {self.role}"

    @classmethod
    def change_leaves(cls, newleaves):
        cls.no_of_leaves = newleaves

    @classmethod
    def from_dash(cls, string):
        params = string.split("-")
        print(params)
        return cls(params[0], params[1], params[2])
        # return cls(*string.split("-"))


# raj = Employee("raj", 255, "Instructor")
rohan = Employee("Rohan", 455, "Student")
# Employee.from_dash("Karan-480-Student")
print(rohan.printdetails())

The Name is Rohan. Salary is 455 and role is Student

In [1]:
class Employee:
#     no_of_leaves = 8

    def __init__(self, aname, asalary, arole):
        self.name = aname
        self.salary = asalary
        self.role = arole
        print("hello")

    def printdetails(self):
        return f"The Name is {self.name}. Salary is {self.salary} and role is {self.role}"

name='rohan'
salary=555
role='instructor'
kapil = Employee("kapil", 255, "Instructor")
print(kapil.printdetails())

rohan = Employee(name, salary, role)
kapil.name = "Harry"
kapil.salary = 455
kapil.role = "Instructor"
print(kapil.printdetails())

hello
The Name is kapil. Salary is 255 and role is Instructor
hello
The Name is Harry. Salary is 455 and role is Instructor

In [4]:
class Parent:
    def func1(self):
        print("this funcation is parent class")
        
        
class Child1(Parent):
    def func2(self):
        print("this funcation is child class 1")
    
class Child2(Parent):
    def func3(self):
        print("this funcation is child class 2")
        
    

class Subchild(Child1, Child2):
    def func4(self):
          print("This function is in Subchild.")
            
            
            
object1 = Child1()
object2 = Child2()
object1.func1()
object1.func2()
object2.func1()
object2.func3()
obj3 = Subchild()
obj3.func1()

this funcation is parent class
this funcation is child class 1
this funcation is parent class
this funcation is child class 2
this funcation is parent class

In [5]:

class Employee:
    no_of_leaves = 8
    pass

harry = Employee()
rohan = Employee()

harry.name = "Harry"
harry.salary = 455
harry.role = "Instructor"

rohan.name = "Rohan"
rohan.salary = 4554
rohan.role = "Student"

print(Employee.no_of_leaves)
print(Employee.__dict__)
Employee.no_of_leaves = 9
print(Employee.__dict__)
print(Employee.no_of_leaves)

8
{'__module__': '__main__', 'no_of_leaves': 8, '__dict__': <attribute '__dict__' of 'Employee' objects>, '__weakref__': <attribute '__weakref__' of 'Employee' objects>, '__doc__': None}
{'__module__': '__main__', 'no_of_leaves': 9, '__dict__': <attribute '__dict__' of 'Employee' objects>, '__weakref__': <attribute '__weakref__' of 'Employee' objects>, '__doc__': None}
9

In [6]:
class Polygon:
    def __init__(self, no_of_sides):
        self.n = no_of_sides
        self.sides = [0 for i in range(no_of_sides)]

    def inputSides(self):
        self.sides = [float(input("Enter side "+str(i+1)+" : ")) for i in range(self.n)]

    def dispSides(self):
        for i in range(self.n):
            print("Side",i+1,"is",self.sides[i])

In [7]:
class Triangle(Polygon):
    def __init__(self):
        Polygon.__init__(self,3)

    def findArea(self):
        a, b, c = self.sides
        # calculate the semi-perimeter
        s = (a + b + c) / 2
        area = (s*(s-a)*(s-b)*(s-c)) ** 0.5
        print('The area of the triangle is %0.2f' %area)

In [9]:
t = Triangle()
t.inputSides()
Enter side 1 : 3
Enter side 2 : 5
Enter side 3 : 4

t.dispSides()
Side 1 is 3.0
Side 2 is 5.0
Side 3 is 4.0

t.findArea()
The area of the triangle is 6.00

SyntaxError: invalid syntax (3606412663.py, line 3)

In [10]:
class Person(object):
 
    def __init__(self, name, idnumber):
        self.name = name
        self.idnumber = idnumber
 
    def display(self):
        print(self.name)
        print(self.idnumber)

In [11]:
class Employee(Person):
    def __init__(self, name, idnumber, salary, post):
        self.salary = salary
        self.post = post
 
      
        Person.__init__(self, name, idnumber)

In [12]:
a = Employee('Rahul', 886012, 200000, "Intern")

In [14]:
a.display()

Rahul
886012

# Polymorphism

In [3]:
class India():
     def capital(self):
       print("New Delhi")
 
     def language(self):
       print("Hindi and English")

In [4]:
class USA():
     def capital(self):
       print("Washington, D.C.")
 
     def language(self):
       print("English")

In [5]:
obj_ind = India()
obj_usa = USA()
for country in (obj_ind, obj_usa):
    country.capital()
    country.language()

New Delhi
Hindi and English
Washington, D.C.
English

In [6]:
class India():
    def capital(self):
        print("New Delhi is the capital of India.")
 
    def language(self):
        print("Hindi is the most widely spoken language of India.")
 
    def type(self):
        print("India is a developing country.")

In [7]:
class USA():
    def capital(self):
        print("Washington, D.C. is the capital of USA.")
 
    def language(self):
        print("English is the primary language of USA.")
 
    def type(self):
        print("USA is a developed country.")

In [8]:
obj_ind = India()
obj_usa = USA()
for country in (obj_ind, obj_usa):
    country.capital()
    country.language()
    country.type()

New Delhi is the capital of India.
Hindi is the most widely spoken language of India.
India is a developing country.
Washington, D.C. is the capital of USA.
English is the primary language of USA.
USA is a developed country.

# singal inheritance

In [9]:
class vehicle:
    def __init__(self,milage,cost):
        self.milage = milage
        self.cost = cost
        
    def show_vehicle(self):
        print("Milage of vichle is",self.milage)
        print("Cost of vechle is",self.cost)
        print("I am a vichle")

In [10]:
v1 = vehicle(200,1255)

In [11]:
v1.show_vehicle()

Milage of vichle is 200
Cost of vechle is 1255
I am a vichle

In [12]:
class Car(vehicle):
    def show_car_detials(self):
        print("I am a car")

In [13]:
c1 = Car(200,124)

In [14]:
c1.show_vehicle()

Milage of vichle is 200
Cost of vechle is 124
I am a vichle

In [15]:
c1.show_car_detials()

I am a car

In [16]:
class vehicle:
    def __init__(self,milage,cost):
        self.milage = milage
        self.cost = cost
        
    def show_vehicle(self):
        print("Milage of vichle is",self.milage)
        print("Cost of vechle is",self.cost)
        print("I am a vichle")

In [17]:
v1 = vehicle(200,1255)

In [18]:
class Car(vehicle):
    def __init__(self,milage,cost,tyres,hp):
        super().__init__(milage,cost)
        self.tyres = tyres
        self.hp = hp
        
    def show_car_detials(self):
        print("Number of tyres in a car",self.tyres)
        print("Horse power in a car",self.hp)
        print("i am a car")

In [19]:
c1=Car(600,1200000,8,999)

In [20]:
c1.show_vehicle()

Milage of vichle is 600
Cost of vechle is 1200000
I am a vichle

# multipal inheritance

In [21]:
class Prent1:
    def assign_string_one(self,str1):
        self.str1 = str1
    def show_string_one(self):
        return self.str1

In [22]:
class Prent2:
    def assign_string_two(self,str2):
        self.str2 = str2
    def show_string_two(self):
        return self.str2

In [23]:
class Child(Prent1,Prent2):
    def assign_string_three(self,str3):
        self.str3 = str3
    def show_string_three(self):
        return self.str3

In [24]:
my_child = Child()

In [25]:
my_child.assign_string_one("i am a prent 1")

In [26]:
my_child.assign_string_two("i am a prent 2")

In [27]:
my_child.assign_string_three("i am a string of child")

In [28]:
my_child.show_string_one()

'i am a prent 1'

In [29]:
my_child.show_string_two()

'i am a prent 2'

In [30]:
my_child.show_string_three()

'i am a string of child'

# multy_level inheritance

In [31]:
class Prent:
    def get_name(self,name):
        self.name = name
    def show_name(self):
        return self.name

In [32]:
class child(Prent):
    def get_age(self,age):
        self.age = age
    def show_age(self):
        return self.age

In [33]:
class Grendchild(child):
    def get_gender(self,gender):
        self.gender = gender
    def show_gender(self):
        return self.gender

In [34]:
gc = Grendchild()

In [35]:
gc.get_name("mukesh")

In [36]:
gc.get_age(26)

In [37]:
gc.get_gender("Male")

In [38]:
gc.show_name()

'mukesh'

In [39]:
gc.show_age()

26

In [40]:
gc.show_gender()

'Male'